## CSV

In [1]:
import csv

In [38]:
with open('eggs.csv', 'w', newline='') as csvfile:
    spamwriter = csv.writer(csvfile, delimiter=',',
                            quotechar='|', quoting=csv.QUOTE_MINIMAL)
    columns = ['col_0', 'col_1', 'col_2']
    
    spamwriter.writerow(columns)
    spamwriter.writerow(['Spam', 'Lovely Spam', 'Wonderful Spam'])

In [41]:
with open('eggs.csv', 'r') as csvfile:
    csvreader = csv.reader(csvfile)
    # Optionally, read the header row separately
    header = next(csvreader)
    print(f"Header: {header}")
    # Iterate and print each data row
    for row in csvreader:
        print(f"Row: {row}")
        print(f'Values: {dict(zip(header, row))}')

Header: ['col_0', 'col_1', 'col_2']
Row: ['Spam', 'Lovely Spam', 'Wonderful Spam']
Values: {'col_0': 'Spam', 'col_1': 'Lovely Spam', 'col_2': 'Wonderful Spam'}

In [40]:
import pandas as pd
df_ = pd.read_csv('eggs.csv')
df_

  col_0        col_1           col_2
0  Spam  Lovely Spam  Wonderful Spam

## JSON

In [3]:
import json

In [5]:
data = {'name': 'Mark', 'surname': 'Houstom'}

In [6]:
serialized_data = json.dumps(data)
serialized_data

'{"name": "Mark", "surname": "Houstom"}'

In [8]:
deserialized_data = json.loads(serialized_data)
deserialized_data

{'name': 'Mark', 'surname': 'Houstom'}

### write a json file

In [11]:
with open('my_file.json', 'w') as f:
    json.dump([data] * 10, f)

### read a json file

In [13]:
with open('my_file.json', 'r') as f:
    result = json.load(f)
result

[{'name': 'Mark', 'surname': 'Houstom'},
 {'name': 'Mark', 'surname': 'Houstom'},
 {'name': 'Mark', 'surname': 'Houstom'},
 {'name': 'Mark', 'surname': 'Houstom'},
 {'name': 'Mark', 'surname': 'Houstom'},
 {'name': 'Mark', 'surname': 'Houstom'},
 {'name': 'Mark', 'surname': 'Houstom'},
 {'name': 'Mark', 'surname': 'Houstom'},
 {'name': 'Mark', 'surname': 'Houstom'},
 {'name': 'Mark', 'surname': 'Houstom'}]

## Parquet

In [1]:
import pandas as pd

In [2]:
# Crea un DataFrame de ejemplo
data = {
    "Name": ["Alice", "Bob", "Charlie"],
    "Age": [25, 30, 35],
    "City": ["New York", "Los Angeles", "Chicago"]
}
df = pd.DataFrame(data)
df

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago

In [3]:
# Guarda el DataFrame como un archivo Parquet
df.to_parquet("mi_df.parquet", engine="pyarrow", index=False)

print("DataFrame guardado como mi_dataframe.parquet")

DataFrame guardado como mi_dataframe.parquet

In [4]:
# tambien pandas nos permite leer este tipo de archivos
df_pq = pd.read_parquet("mi_df.parquet")
df_pq

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago